<?php

// default configurations for services used (better keep production as default)
$conf = array(
    'db' => array(
        'dbname' => 'blog',
        'host' => 'localhost',
        'port' => 5432,
        'user' => 'postgres',
        'password' => 'postgres',
    ),
    'twig' => array(
        'debug' => false,
    ),
    'log_file' => APP_DIR . '/tmp/logs/app.log',
);

// environment specific changes, can be moved to localized dist file
switch (APP_ENV) {
    case 'production':
        // should be default
        break;

    case 'selenium_testing': // as close to production as possible
        $conf['db']['dbname'] = 'blog_test';
        break;

    case 'testing': // behat will use selenium to test web app (testing virtual host should point to selenium env)
        $conf['db']['dbname'] = 'blog_test';
        break;

    case 'development':
    default:
        $conf['twig']['debug'] = 'true';
        break;
}

// return the final version of $conf
return $conf;
