{% extends "layout.html" %}

{% block title %}Contact Me{% endblock %}
{% block robots %}noindex, nofollow{% endblock %}

{% block scripts %}
<script type="text/javascript">
$(document).ready(function () {
    blog.onContactReady();
});
</script>
{% endblock %}

{% block content %}
<h1>Contact Me</h1>

<ul>
  <li>Email: gediminas.morkevicius{at}gmail.com</li>
  <li>Skype: sektor.22</li>
</ul>

<!-- flash msg -->
<div class="alert alert-success" style="display:none;"></div>

<div class="row">
  <form name="message">
    <fieldset>
      <legend>Send me a message</legend>

      <div class="control-group">
        <input type="text" class="input-xlarge" placeholder="Sender" value="" name="message[sender]"/>
      </div>

      <div class="control-group">
        <input type="text" class="input-xlarge" value="" placeholder="Email" name="message[email]"/>
      </div>

      <div class="control-group">
        <textarea rows="5" class="input-xlarge" name="message[content]" placeholder="Message"></textarea>
      </div>

      <button class="btn btn-primary" type="submit">Send</button>
    </fieldset>
  </form>
</div>
{% endblock %}

