{% extends "layout.html" %}

{% block title %}Demonstration was removed{% endblock %}
{% block robots %}noindex, nofollow{% endblock %}

{% block content %}
<h1>Extension demonstration was removed</h1>

<div class="row">
  <p class="lead">Doctrine2 extension demo was removed, because it had to be updated and maintained.</p>

  <p>You can still find symfony2 extension demo bundle on <a href="https://github.com/l3pp4rd/gediminasm.org/tree/master/src/Gedmo/DemoBundle">github</a>.
It may be added back later.
  </p>
</div>
{% endblock %}

