parameters:
  database_driver:   pdo_mysql
  database_host:     localhost
  database_port:     ~
  database_name:     sfblog
  database_user:     root
  database_password: ~

  locale:            en
  secret:            secret

  knp_paginator.template.pagination: :Pagination:pagination.html.twig
  knp_paginator.template.sortable:   :Pagination:sort_link.html.twig

