parameters:
  database_driver:   pdo_pgsql
  database_host:     localhost
  database_port:     ~
  database_name:     extension_demo
  database_user:     postgres
  database_password: postgres

  locale:            en
  secret:            secret

  knp_paginator.template.pagination: :Pagination:pagination.html.twig
  knp_paginator.template.sortable:   :Pagination:sort_link.html.twig

