{% extends "layout.html" %}

{% block title %}Posts{% endblock %}
{% block description %}open source targeting blog posts, doctrine extensions {% endblock %}

{% block content %}
  <h1>Blog Posts</h1>

  {% for post in posts %}
    <div class="row">
      <h2><a href="/post/{{ post.slug }}">{{ post.title }}</a></h2>

      <div class="summary">
        {{ post.summary|raw }}
      </div>

      <p class="post-footer align-right">
        <a class="readmore" href="/post/{{ post.slug }}" title="Read more about {{ post.title }}">Read more</a>
        <a class="comments" href="/post/{{ post.slug }}#post-comment" title="Read comments">
          Comments ({{ post.num_comments }})
        </a>
        <span class="date">{{ post.created|ago }}</span>
      </p>
    </div>
  {% endfor %}
{% endblock %}
