{% extends "layout.html" %}

{% block title %}{{ post.title }}{% endblock %}
{% block description %}{{ post.description }}{% endblock %}

{% block styles %}
<link rel="stylesheet" href="http://yandex.st/highlightjs/7.3/styles/default.min.css">
{% endblock %}

{% block scripts %}
<script src="http://yandex.st/highlightjs/7.3/highlight.min.js"></script>

<script type="text/javascript">
// source highlighter
hljs.tabReplace = '    ';
hljs.initHighlightingOnLoad();

$('#comments').commentable({{ post.id }});
</script>
{% endblock %}

{% block content %}

  <h1 id="{{ post.id }}">{{ post.title }}</h1>

  <div class="row summary">{{ post.summary|raw }}</div>

  <div class="row content">{{ post.content|raw }}</div>

  <div id="comments" class="row">

    <form name="comment">
      <fieldset>
        <div class="alert alert-success" style="display:none;"></div>
        <legend>Post a comment</legend>

        <div class="control-group">
          <input type="text" class="input-xlarge" placeholder="Subject" value="" name="comment[subject]"/>
        </div>

        <div class="control-group">
          <input type="text" class="input-xlarge" value="" placeholder="Author" name="comment[author]"/>
        </div>

        <div class="control-group">
          <textarea rows="5" class="input-xlarge" name="comment[content]" placeholder="Comment body [Markdown]"></textarea>
        </div>

        <button class="btn btn-primary" type="submit">Submit</button>
      </fieldset>
    </form>

  </div>

{% endblock %}
